body {
    display: flex;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


.right-side{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    height: max(600px, 100vh);
    width: 30vw;
    background-image: url('./photo.avif') ;
    background-size: cover ;
    color: white;
    justify-content: space-between;
}
footer{

    display: flex;
    justify-content: center;
    align-items: baseline;
    
}
.underline{

    border-bottom: 0.01px solid white;
}

.logo{
    font: 5rem "myFont";
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    
}
@font-face {
    font-family: "myFont";
    src: url("./Norse-Bold.otf") format("opentype");
  }
.logo img{
    
    width: 15%;
    margin: 10px;
}
.left-side{
    width: 100%;
    background-color: #E5E7EB;
}
.left-side article{
    margin-top: 10vh;
    margin-left: 10vw;
}
article::first-letter{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.form{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 35%;
    background-color: #ececec;
    box-shadow: 0px 10px 10px 0px rgba(94, 91, 91, 0.377);
    margin-bottom: 10vh;
}
.form > div{
    
    width: 40%;
    height: 5.7%;
    
}
.form > div > input{
    display: block;
    border: rgba(0, 0, 0, 0.719) solid 1px;
    border-radius: 5px;
    margin-bottom: 5%;
}
input:invalid{
    
    outline: 1px solid rgba(248, 146, 146);
}

input:focus{

    outline: rgba(0, 25, 253, 0.719) solid 1px;

}
.form  p{
    padding-left: 5.1vw;
    text-align: left;
    width: 100%;
}
.not-form{
    margin-left: 6.5%;
}
.not-form button{
    background-color: #596D48;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}